@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 35px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: black;
    z-index: 999;

    .logout_btn {
      display: inline-block;
      padding: 7px 15px;
      background-color: #007bff;
      color: #fff;
      font-size: 17px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0062cc;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .middle {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 18px;
        color: themed("logo");
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }

      .logout_btn {
        display: inline-block;
        padding: 6px 9px;
        background-color: #9A0F0F;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #b40000;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img {
          width: 37px;
          height: 37px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    &--hidden {
      transform: translateY(-70px);
    }
  }
}
